@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
    width: 100%;
    height: 100%;
    background-image: url("../img/loginbg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    margin: 0px !important;
}

.title {
    margin-top: 5%;
    margin-bottom: 15px;
}

/* without this, the fields all expand
   when the MDC JavaScript is run. */
.mdc-text-field {
    margin-top: 16px;
}

#kc-header,
#kc-content {
    margin-left: auto;
    margin-right: auto;
}

#kc-container {
    height: 100%;
    /* margin-top: 15%; */
}

#kc-header {
    /* width: 90%; */
    font-size: 35px;
    text-align: center;
    margin-bottom: 25px;
    font-weight: 300;
    /* margin-top: 7%; */
    color: rgb(68, 68, 68);
}

#kc-content {
    background: white;
    padding: 20px;
    box-shadow: 0 5px 6px -3px rgba(0, 0, 0, 0.2),
        0 9px 12px 1px rgba(0, 0, 0, 0.14), 0 3px 16px 2px rgba(0, 0, 0, 0.12);
}

#kc-reset-password-form #kc-form-options {
    float: left;
}

#kc-reset-password-form #kc-form-buttons {
    float: right;
}

#kc-register-form #kc-form-options {
    float: left;
}

#kc-register-form #kc-form-buttons {
    float: right;
}

.clearfix {
    float: none;
    clear: both;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.24);
}

@media (max-width: 768px) {
    #kc-content {
        width: 90%;
    }
}

@media (min-width: 769px) {
    #kc-content {
        width: 360px;
    }
}

.mdc-text-field {
    width: 100%;
}

#kc-form-login #kc-form-options {
    margin-top: 15px;
}

#kc-login {
    float: right;
}

#kc-error-message p {
    margin: 0;
}

.remember-me-checkbox {
    float: left;
}

.sign-up {
    float: right;
    margin-right: 33%;
    background-color: #42b72a !important;
}

.forgot-pass {
    margin-left: 33%;
    color: #1877f2 !important;
}

.register .register-field {
    margin-bottom: 15px;
}

.register .register-button-container {
    margin-top: 20px;
}

.reset-password .reset-password-field {
    margin-bottom: 15px;
}

.update-password .update-password-field {
    margin-bottom: 15px;
}

.update-password .update-password-button-container {
    margin-top: 20px;
}

.config-totp .config-totp-button-container {
    margin-top: 15px;
}

.totp .totp-button-container {
    margin-top: 15px;
}

.update-profile .update-profile-field {
    margin-top: 15px;
}

.update-profile .update-profile-button-container {
    margin-top: 20px;
}

.template .language-picker {
    position: relative;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 20px;
    width: 195px;
}

.template .language-picker .language-icon {
    float: left;
    color: rgba(0, 0, 0, 0.54);
}

.template .language-picker .mdc-select {
    float: right;
    margin-top: -25px;
}

.template .language-picker .mdc-select option {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}

/*navbar*/
.menus {
    display: flex;
    flex-direction: row;
    float: right;
    margin: 14px 20px;
}

.divider {
    font-size: 20px;
    color: #841618;
    font-weight: 580 !important;
    margin-top: 2px;
}

.divider:last-child {
    display: none;
}

.menus a {
    display: block;
    color: #841618;
    text-align: center;
    padding: 8px 16px;
    margin-left: 24px;
    margin-right: 24px;
    text-decoration: none;
    font-size: 14px;
}

.menus a:hover:not(.active) {
    color: white;
    background: linear-gradient(#e73a3d, #841618);
    border-radius: 4px;
}

@media (max-width:928px) {
    .menus {
        display: none;
    }
}

.active {
    background-color: #04AA6D;
}

.logo {
    float: left;
    flex: 1 1 auto;
    margin: 8px 24px;
    background-image: url(../img/logo.png);
    width: 100px !important;
    height: 44px !important;
    background-size: contain;
    background-repeat: no-repeat;
}

.toolbar {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-weight: 501 !important;
    background-color: #f5f5f5;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1000;
    height: 64px !important;
    box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;
}

@media (max-width:928px) {
    .menus {
        display: none;
    }

    .logo {
        float: right;
        margin: 8px 24px;
        background-image: url(../img/logo.png);
        width: 100px !important;
        height: 44px !important;
        background-size: contain;
        background-repeat: no-repeat;
    }
}

.menu-btn {
    display: flex;
    flex-direction: row;
    float: left;
    font-size: 24px;
    cursor: pointer;
    color: #841618;
    margin: 12px 24px 16px 16px;
}

.sidenav {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 64px;
    left: 0;
    background-color: #f5f5f5;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 40px;
    font-weight: 501;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.sidenav a {
    color: #841618;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 14px;
    display: block;
    transition: 0.3s;
    margin-bottom: 12px;
}

.sidenav a:hover {
    color: white;
    background: linear-gradient(#e73a3d, #841618);
    border-radius: 4px;
}

.sidenav .closebtn {
    color: #841618;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media (min-width:927px) {
    .menu-btn {
        display: none;
    }
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}